{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-8">

        <div class="card shadow p-4 mt-4">

            <h2 class="text-center mb-4">Create Project</h2>

            <form method="POST">
                {% csrf_token %}

                <div class="mb-3">
                    {{ form.name.label_tag }}
                    {{ form.name }}
                </div>

                <div class="mb-3">
                    {{ form.description.label_tag }}
                    {{ form.description }}
                </div>

                <div class="mb-3">
                    {{ form.members.label_tag }}
                    {{ form.members }}
                </div>

                <button class="btn btn-primary w-100">
                    Create Project
                </button>
            </form>

            <hr>

            <a href="/projects/list/" class="btn btn-outline-success w-100">
                View Projects
            </a>

        </div>

    </div>
</div>

{% endblock %}